.current-question , .answer-card {
  text-align: center;
  height: 250px;
  width: 35%;
  border: 1px solid;
  background-color: #FFFFFF;
  margin-top: 50px;
}

.current-question {
  margin-right: 25px;
  margin-left: 15px;
}

.answer-card {
  margin-right: 15px;
  margin-left: 25px;
}

.answer-card > h2, .current-question > h2 {
  margin-top: 20px;
  color: #EF4135;
}

.current-question > input {
  max-width: 90%;
}
