.what-it-does {
  min-width: 20%;
  max-width: 20%;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 15px;
  margin-right: 15px;
  border: 1px solid;
  height: 150px;
  text-align: center;
  padding: 10px 15px 0;
}


.what-it-does span {
  max-width: 75%;
  max-height: 100%;
}

.what-it-does:nth-child(1) {
  color: white;
  background-color: #0055A4;
}

.what-it-does:nth-child(2) {
  background-color: #FFFFFF;
}

.what-it-does:nth-child(3) {
  color: #FFFFFF;
  background-color: #EF4135;
}
